.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 12px;
}

.title {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.controls {
  display: flex;
  flex-direction: row;
}

.title_separator {
  font-weight: 400;
  opacity: 0.25;
  color: var(--color-text-100);
  padding: 0;
  user-select: none;
}

.title_secondary {
  font-weight: 400;
  color: var(--color-text-50);
  user-select: none;
}

@media (max-width: 600px) {
  .title {
    flex-direction: column;
    align-items: start;
    gap: 0px;
  }

  .title_separator,
  img {
    display: none;
  }

  .title_secondary {
    font-size: 14px;
  }
}

.header_button {
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--color-text-50);
  cursor: pointer;
  border: none;
}

.header_button:hover {
  color: var(--color-text-100);
}

.header_button:disabled {
  color: var(--color-text-25);
  cursor: not-allowed;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.action_button {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 12px;
  font-weight: 500;
  color: var(--color-primary);
  width: 100%;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
  transition: scale 0.1s ease-in-out;
}

.action_button svg {
  flex-shrink: 0;
  min-width: 16px;
  min-height: 16px;
}

.action_button:active {
  scale: 0.98;
}

.action_button_audio {
  background-color: #eaf2ff;
  color: #2675ff;
  width: fit-content;
  flex-shrink: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: start;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-border);
}

.footer > *:first-child {
  width: 110px;
}

.footer_info {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: start;
}

.footer_info svg {
  opacity: 0.4;
  flex-shrink: 0;
}

.footer_info span {
  line-height: 1;
}
