.wrapper {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  animation: blurOut 0.2s ease-out forwards;
}

.panel {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
  background-color: #fff;
  border: solid 1px var(--color-border);
  border-bottom: none;
  border-radius: 14px 14px 0 0;
  width: min(95vw, 640px);
  height: 90vh;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.2s ease-out forwards;
  overflow: hidden;
}

.header {
  padding: 18px 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 22px;
  align-items: center;
  border-bottom: solid 1px var(--color-border);
  flex-shrink: 0;
}

.header h2 {
  font-size: var(--font-size-primary);
  color: var(--color-text-100);
}

.header .x {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--color-text);
  cursor: pointer;
}

.footer {
  margin-top: 32px;
  flex-shrink: 0;
}

.body {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@keyframes blurOut {
  0% {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(-50%) scale(0.95);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
